/* Input styling */
.global-search-input {
  padding: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
  border-radius: 20px;
  background-color: #eee;
  border: none;
  outline: none;
  box-shadow: none;
}

.global-search-input:hover {
  background-color: #e0e0e0;
  border: 3px solid #a3c4f3;
}

.search-dropdown {
  flex-wrap: wrap;              
  gap: 1rem;
  overflow: auto hidden;
  padding: 2rem 2rem 1rem;
  background: white;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgb(0 0 0 / 10%);
  position: absolute;
  z-index: 999;
  display: none;
}

.search-option {
  width: 100%;
  max-width: 250px;
  flex: 1 1 calc(33.333% - 1rem); 
  display: flex;
  padding: 0;
  border-radius: 20px;
  background: #f5f5f5;
  flex-shrink: 0;
  overflow: hidden;
  transition: background 0.2s ease-in-out;
  height: 100px;
  align-items: stretch;
  cursor:pointer;
}

.search-option img {
  width: 100px;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search-option span {
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: block;
  margin:auto;
}

.search-option:hover {
  background: #f0f0f0;
}


.global-search-input {
  padding: 0.5rem 2.5rem 0.5rem 1rem; /* leave space for the cross button */
  width: 90%;
  font-size: 1.2rem;
  border-radius: 20px;
  background-color: #eee;
  border: none;
  outline: none;
  box-shadow: none;
}

.clear-search-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #555;
  display: none;
}


@media (width <= 1024px) {
  .search-option {
    flex: 1 1 calc(50% - 1rem); 
  }
}

@media (width <= 600px) {
  .search-option {
    flex: 1 1 100%; 
  }
}
